<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
        <link rel="stylesheet" href="/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />


    </head>
    <body>
        
        <div class="container">
            
            <% if (URL) { %>
                <h2>Your shortened link is:
                <a id="a" href="/<%=url %>"><%=url %></a>
            <% } %>
            </h2>
            <br>
            <p>if there is no url, that indicates that your url did not go through at all</p>
            <a class="back" href="/">shorten another</a>
        </div>
    </body>
</html>